.main{
    height: 100vh;
}
.sidebar{
background: #6c757d;
color: white;
}

.sidebar a{
color: #fff;
text-decoration: none;
display: block;
padding: 20px 10px;
}

.sidebar a:hover{
background: #343a40;
}

.active{
background: #343a40;
border-right: solid 10px yellow;
}

.card-data{
    border: solid 1px;
    padding: 20px 30px;
  
    color: #fff;
}

.card-data.book{
    background-color: rgb(71, 71, 212);
}

.card-data.category{
    background-color: orange;
}

.card-data.user{
    background-color: rgb(71, 212, 118);
}

.card-data i{
    font-size: 80px;
}

.card-desc{
    font-size: 30px;
}

.card-count{
    font-size: 30px;
}